name: Lighthouse CI

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Run Lighthouse CI
        run: |
          npm install -g @lhci/cli
          lhci autorun

      - name: Upload report to GitHub Pages
        run: |
          git config --global user.email "aswanjay07-source@gmail.com"
          git config --global user.name "Aswan Jay"
          git clone https://github.com/AswanJay/AswanJay.git
          cp -r .lighthouseci/* AswanJay/lighthouse-report/
          cd AswanJay
          git add .
          git commit -m "Update Lighthouse report"
          git push
          